{% extends 'base.html' %}

{% block title %}Re:Ciclo — Cadastre-se!{% endblock %}

{% block conteudo %}
    <body>
        {% if messages %}
            {% for message in messages %}
                <div class="alert-center alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}

        <div style="margin: 4% 25% 20% 25%; padding: 1% 0%; border-radius: 10px; background: rgba(51, 000, 51, .1);">
            <div style="border-radius: 10px; margin: 10% 15% 10% 15%; background-color: #98FB98; padding: 5% 2% 5% 23%;">
                <h2>Crie sua conta</h2>
                <div style="padding: 5% 0% 0% 5%;">
                    <form method="post" action="">
                        {% csrf_token %}
                        {% for field in form %}
                            <div>
                                <div style="color: red; font-weight: bold;">{{ field.errors }}</div>
                                *{{ field.label_tag }} <p> {{ field }} <p></p>
                            </div>
                        {% endfor %}
                        <button type="submit" class="bn62">Confirmar</button>
                    </form>
                </div>
                <p style="padding-top: 10%;">Já possui uma conta? <a href="{% url 'entrar' %}">Entre aqui!</a></p>
            </div>
        </div>
    </body>

    <style>
        body {
            background: url("https://cdn.discordapp.com/attachments/973439116274462772/1044518066400280657/Sem_Titulo-1.png") no-repeat fixed;
            background-size: 100% 100%;
            font-family: 'Montserrat', sans-serif;
            padding-bottom: 2%;
        }
    </style>
{% endblock %} 